{% extends 'blogs/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
    {% include 'blogs/navigation.html' %}

    <div class="about">
        <h2>&lt About/&gt </h2>
        <p>
            &nbsp &nbsp &nbsp &nbsp Dylan Staatz is currently a student majoring in Computer Engineering
            at Kansas State University. He is involved in multiple different clubs such as 
            <a href="http://acm-sigai.cs.ksu.edu/">ACM-SIGAI</a> (Ai club) and <a href="https://gdc.cs.ksu.edu/">
            Game Development Club</a>. In addition to these clubs, he is also a member of the 
            <a href ="https://www.engg.ksu.edu/asc/outreach/">Engineering Outreach Program</a> 
            and is working on the Holden-Farms Project with fellow members of ACM-SIGAI. This summer,
            Dylan will intern at Novatech.
        </p>
    </div>
        
{% endblock %}